<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      
      <netTcpBinding>
        <binding name="NewBinding" maxReceivedMessageSize="2147483647" transferMode="Buffered">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="12000000"/>
          <security mode="None">
            <transport clientCredentialType="None"></transport>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="RequestService.RequestService">
        <endpoint address="net.tcp://localhost:8088" binding="netTcpBinding"
          bindingConfiguration="NewBinding" contract="RequestContract.IRequestContract" />
      </service>
    </services>

  </system.serviceModel>

</configuration>