<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="RequestService.RequestService">
        <endpoint address="net.tcp://localhost:8088" binding="netTcpBinding" contract="RequestContract.IRequestContract"/>
        <!--<endpoint address="net.pipe://localhost/eTermService/eTerm" binding="netNamedPipeBinding" contract="eTermContract.IeTermOperate"/>-->

        <!--<endpoint address="net.tcp://192.168.10.68:9252/eTermService" binding="netTcpBinding" contract="eTermContract.IeTermOperate" bindingConfiguration="NoSecurity"/>-->


      </service>
    </services>

  </system.serviceModel>

</configuration>