<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8088" binding="netTcpBinding" contract="RequestContract.IRequestContract" name="Request" /> 
    </client>
  </system.serviceModel>
</configuration>